body{
    font-family: "Montserrat", sans-serif;
}

/********Navbar and Carousal: Start**************/
.navbar{
    padding:0 1%;
}
.navbar-brand img{
    width:60%
}

.navbar-nav.mr-auto li a{
    color:black;
    font-weight: 700;
}

.navbar-nav li a{
    color:black;
    font-weight: 700;
}
.navbar-brand{
    color:black;
    font-weight: 700;
}
.right{
    float: right;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
border-color: rgb(255,102,203);
} 

.col-sm-12.col-md-4 img{
    width:100%;
    margin:5%;
}

.main-services{
    width:80%;
    margin:auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.carousel.slide{
    padding-top: 52px;
}

/********Navbar and Carousal: End**************/


/*--------------------------------------------------------------
# Footer:Start
--------------------------------------------------------------*/

#footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}
  
#footer .footer-top {
    background: #111;
    padding: 5% 0 2% 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #fb641b;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #fb641b;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    background: #555;
}

#footer .footer-top h4::after {
    background: #fb641b;
    width: 60px;
}


#footer .footer-top .footer-contact {
    margin-bottom: 30px;
    margin-left: 12%;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background:#fb641b;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #fb641b;
}

#footer .copyright {
    text-align: center;
    padding-top: 0;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

@media screen and (max-width: 768px) {
#footer .footer-top .footer-contact {
    margin-bottom: 30px;
        margin-left: 0%;
    }
}
/*--------------------------------------------------------------
# Footer:End
--------------------------------------------------------------*/
/**Login form css: Start**/
.myform{
    margin: 20% 0% 0% 0%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ddecff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.form-control{
    border-radius: 50px;
}

form .error {
    color: #ff0000;
}

#second{display:none;}

#tasker_second{display:none;}

@media (max-width: 600px){
   .myform{
       width: 100%;
       margin: 25% 0%;
    }
    #second{
        margin: 5% 2% 45% 2%;
    }
    #tasker_second{
        margin: 5% 2% 45% 2%;
    }
}

.mybtn{
    background-color: #fb641b;
    border-radius:50px;
    font-size: 1.5em;
    font-weight: 600;
}

.mybtn:hover{
    background-color:#007bff ; 
}
/**Login form css: End**/

/*************About Us: Start***************/
#about {
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.92);
  }
  
  #about .container {
    position: relative;
    margin-top: 3%;
  }
  
  #about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  
  #about .about-col .img {
    position: relative;
  }
  
  #about .about-col .img img {
    border-radius: 4px 4px 0 0;
  }
          
  .section-header h3{
    text-align: center; 
  }
        
  hr{
    width:12%;
    height:2px;
    background-color: #fb641b;
  }
  .section-header p{
      text-align: center;
  }
  
  #about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
  }
  
  #about .about-col h2 a {
    color: #000;
  }
  
  #about .about-col h2 a:hover {
    color: #18d26e;
  }
  
  #about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }

  /*************About Us: End***************/

  .services-text{
      text-align: center;
      font-weight: 700;
      font-size: 1.5em;
      padding-top: 1.5%
  }

.col-sm-12.col-md-4 img{
    margin:2% 0;
}

.col-sm-12.col-md-4 p{
    font-weight: 700;
    text-align: center;
}

.profile{
    padding-top: 52px;
}

/*Styling for services pages and index.html*/
.home-container{
    padding-top: 60px;
    width: 90%;
    margin: auto;
}

.info-header h4{
    text-align:center;
    margin: 2%;
}
.info-border{
    padding: 2%
}

.info-details{
    padding-top: 5px;
}

.btn-orange{
    margin-top:1%;
    background-color:#fb641b;
    color:white;
}
.btn-center{
    display: flex; 
    justify-content: center;
}

.info-para{
    margin-top: 5px;
}

.col-sm-12.col-md-4 div a{
    color:#212529
}

.col-sm-12.col-md-4 div a:hover{
    color:blue;
}