{% extends "base.html"%}
{% block content %}
      <section id="about">
          {% include 'navbar.html' %}
          {% include 'modal.html' %}
          {% include 'tasker_modal.html' %}
        <div class="container">
          <header class="section-header">
            <h3>About Us</h3>
            <hr>
            <p>At TaskBunny your convenience is our priority. Through our wide range of services, you are just one click away from finding help for home improvement to personal care and everything in between.</p>
          </header>
          <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="../static/pictures/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                    Our mission is to help people find local professionals to help them with their day to day needs. We aim to provide
                    a visually pleasing and easy to use interface that is safe and gets the job done.
                </p>
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="../static/pictures/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p>
                    Our plan is to create a network of local professionals for each major city in the world. This will give the skilled
                    professionlas a much wider reach than the existing mediums and hep them lead a fulfilling life.
                </p>
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="../static/pictures/about-vision.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                    Our vision is to create a one stop shop for all the daily needs of any individual from a college student to a retired
                    veteran. We aim to develop a self sustaining platform which is by the people and for the people and gets rid of the middle-men.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>
  {% endblock %}