{% extends "base.html"%}
{% block content %}
            {% include 'navbar.html' %}
            {% include 'modal.html' %}
            {% include 'tasker_modal.html' %}
            <div class="home-container">
                <header class="info-header">
                    <h4><strong>Home Services</strong></h4>            
                </header>
                <div class="row info-border img-thumbnail">
                    <div class="col-md-6"><img src="../static/pictures/Carpenter.jpeg" alt="..." width="100%"></div>
                    <div class="col-md-6 info-details"><div><p class="info-para">Home care is care that allows a person with special needs stay in their home.
                        It might be for people who are getting older, are chronically ill, recovering from surgery, or disabled. 
                        We provide professional who might take care of cleaning services in your home. We also provide other services to make your home a better place.
                        </p>
                        <br>
                        <strong>
                            Some of our services
                        </strong>
                        <ul>
                            <li>Cleaning</li>
                            <li>Interior Decoration</li>    
                            <li>Plumbing</li>
                            <li>Bathroom Cleaning</li>
							<li>Carpet Cleaning</li>
							<li>Home Deep Cleaning</li>
							<li>Pest Control</li>
							<li>Yard work</li>
							<li>Furniture Assembly</li>
                        </ul></div>
                        <div class="btn-center">
                            <button type="button" class="btn btn-orange btn-lg" onclick="window.location.href='book';">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}