{% extends "base.html" %}
{% block content %}
    <div class="containter-fluid">
        {% include 'navbar.html' %}
        {% include 'modal.html' %}
        {% include 'tasker_modal.html' %}

    <!-- Carousal start -->
    <div class="containter-fluid">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <img src="../static/banner/Carousal image 1.png" class="d-block w-100" alt="..." height="50%" width="100%">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="../static/banner/Carousal image 2.png" class="d-block w-100" alt="..." height="50%" width="100%">
            </div>
            <div class="carousel-item" data-interval="5000">
              <img src="../static/banner/Carousal image 3.png" class="d-block w-100" alt="..." height="50%" width="100%">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src="../static/banner/Carousal image 4.png" class="d-block w-100" alt="..." height="50%" width="100%">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="main-services">
            <div class="services-text">
              Our Range Of Services
            </div>
            <div class="row services-row">
              <div class="col-sm-12 col-md-4">
                  <div><img src="../static/pictures/BabyCare.jpeg" alt="..." class="img-thumbnail"><p>Event Planning</p></div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div><img src="../static/pictures/PetCare.jpeg" alt="..." class="img-thumbnail"><p>Pet Care</p></div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div><a style="text-decoration:none" href="home_services"><img src="../static/pictures/Carpenter.jpeg" alt="..." class="img-thumbnail"><p>Home Services</p></a></a></div>
                </div>
            </div>
        </div>
        
        <div class="main-services">
            <div class="services-text">
              Special Services
            </div>
            <div class="row services-row">
              <div class="col-sm-12 col-md-4">
                <div><img src="../static/pictures/Electrician.jpeg" alt="..." class="img-thumbnail"><p>Tech Repairs</p></div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div><img src="../static/pictures/HairCutting.jpeg" alt="..." class="img-thumbnail"><p>Personal Care</p></div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div><img src="../static/pictures/Massage.jpeg" alt="..." class="img-thumbnail"><p>Spa</p></div>
              </div>
            </div>
        </div>
      </div>
    <!-- Carousal end -->

    <!-- Footer start -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-4 footer-info">
              <h3>TaskBunny</h3>
              <p>At TaskBunny your convenience is our priority. Through our wide range of services, you are just one click away from finding help for home improvement to personal care and everything in between.</p>
            </div>
            <div class="col-lg-3 col-md-4 footer-contact">
              <h4>Contact Us</h4>
              <p>
                4302 University Drive <br>
                Bryan, TX 77801<br>
                United States <br>
                <strong>Phone:</strong> +1 979 357 9512<br>
                <strong>Email:</strong> info@tbunny.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
              </div>
  
            </div>
  
            <div class="col-lg-3 col-md-4 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Subscribe to our Newsletter to know more about our offerings and get a sneak peak into our early offers. We promise not to bug you with a ton of emails.</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit"  value="Subscribe">
              </form>
            </div>
  
          </div>
        </div>
      </div>
      
  
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>TaskBunny</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by Team 23</div>
      </div>
    </footer>
    <!-- Footer end -->
    </div>

{% endblock %}