<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#"><img src="../static/Task_bunny_logo_2.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="home_services">Home Services</a>
                    <a class="dropdown-item" href="pet_care">Pet Care</a>
                    <a class="dropdown-item" href="tech_repair">Tech Repair</a>
                    <a class="dropdown-item" href="personal_care">Personal Care</a>
                    <a class="dropdown-item" href="event_planning">Event Planning</a>
                </div>
              </li>
          </ul>
          <ul class="navbar-nav">
              {% if session['type']=='USER' and session['email'] in ['nayankeni9@gmail.com', 'subodhsghuge@gmail.com', 'swapnil@gmail.com' ] %}
              <li class="nav-item">
                  <a class="btn btn-warning" href="dashboard">Dashboard</a>
                </li>
              {% else %}
            <li class="nav-item">
                <a class="btn btn-warning" href="book">Book a Service</a>
              </li>
              {% endif %}
            {% if session['name'] and session['type']=='TASKER' %}
            <li class="nav-item">
              <a class="nav-link" href="tasker_profile">Welcome, {{ session['name'] }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tasker_logout">Sign Out</a>
            </li>
            {%elif session['type']!='USER' %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#taskerPopUpWindow">Become A Tasker</a>
              </li>
            {% endif %}


            {% if session['name'] and session['type']=='USER' %}
            <li class="nav-item">
              <a class="nav-link" href="profile">Welcome, {{ session['name'] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="orders">My Orders</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Sign Out</a>
            </li>
            {%elif session['type']!='TASKER' %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#popUpWindow">Sign In</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
