{% extends "base.html" %}
{% include 'navbar.html' %}
{% include 'modal.html' %}
{% include 'tasker_modal.html' %}
{% block content %}

<div class="orders" style="margin-top:8%;">
    <div class="container">
            <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center; margin-bottom: 5%;">Your Orders</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">OrderID</th>
                <th scope="col">Tasker Name</th>
                <th scope="col">Order Category</th>
                <th scope="col">Order Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
              <tr>
                <th scope="row">{{ order['Order_Id'] }}</th>
                <td>{{ order['Tasker_name'] }}</td>
                <td>{{ order['Task_Category'] }}</td>
                <td>{{ order['Task_Date'] }}</td>
                <td>
                  <form action="/delete_order" method="POST">
                    <input type="hidden" name="id" value = "{{ order['Order_Id'] }}">
                    <button class="btn btn-danger btn-sm" type="submit" name="clicked_btn">Cancel</button>
                  </form></td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
    </div>
</div>

{%endblock%}