{% extends "base.html" %}
{% include 'navbar.html' %}
{% include 'modal.html' %}
{% include 'tasker_modal.html' %}
{% block content %}

<div class="container profile">
    <hr>
    {% if session['mode']=='EDIT' %}
      <div class="col-md-12 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">x</a>
          <i class="fa fa-coffee"></i>
             Update your personal information on this page
        </div>
        <form class="form-horizontal" role="form" style="margin:0% 0% 0% 25%" id=editform>
          <div class="form-group">
            <label class="col-lg-3 control-label" >First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value= "{{ tasker['firstname'] }}" name="firstname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label" >Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{ tasker['lastname'] }}" name="lastname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{ tasker['email'] }}" name="email" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Contact Number</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ tasker['contact_number'] }}" name="contact_number">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Street Address</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ tasker['street_address'] }}" name="street_address">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" >City</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ tasker['city'] }}" name="city">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">State</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ tasker['state'] }}" name="state">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Zip</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ tasker['zip'] }}" name="zip">
            </div>
          </div>
          <div class="form-group">
              <label class="col-md-3 control-label">Age</label>
              <div class="col-md-8">
                <input class="form-control" type="number" value="{{ tasker['tasker_age'] }}" name="age">
              </div>
            </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Primary Skill</label>
            <div class="col-md-8">
              <select class="form-control service" name="service_category" id="service_category">
                  <!-- <option value="0">Select a Service Category</option> -->
                  <option value="1" {% if tasker.primary_skill=='1' %} selected="selected"{% endif %}>Home Services</option>
                  <option value="2" {% if tasker.primary_skill=='2' %} selected="selected"{% endif %}>Pet Care</option>
                  <option value="3" {% if tasker.primary_skill=='3' %} selected="selected"{% endif %}>Tech Repair</option>
                  <option value="4" {% if tasker.primary_skill=='4' %} selected="selected"{% endif %}>Personal Care</option>
                  <option value="5" {% if tasker.primary_skill=='5' %} selected="selected"{% endif %}>Event Planning</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">About Me</label>
            <div class="col-md-8">
              <textarea class="form-control" rows="4" name="about_me" id="about_me">{{ tasker['about_me'] }}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Save Changes" onclick="submitForm('/save_tasker','POST')">
                <span></span>
                <input type="button" class="btn btn-warning" value="Cancel" onclick="submitForm('/tasker_profile','GET')">
            </div>
          </div>
      </div>
    {% else %}
    <div class="col-md-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">x</a>
        <i class="fa fa-coffee"></i>
           Update your personal information on this page
      </div>
      <form class="form-horizontal" role="form" style="margin:0% 0% 0% 25%" action="/edit_tasker">
        <div class="form-group">
          <label class="col-lg-3 control-label" >First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value= "{{ tasker['firstname'] }}" name="firstname" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label" >Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="{{ tasker['lastname'] }}" name="lastname" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="{{ tasker['email'] }}" name="email" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contact Number</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="{{ tasker['contact_number'] }}" name="contact_number" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Street Address</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="{{ tasker['street_address'] }}" name="street" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" >City</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="{{ tasker['city'] }}" name="city" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">State</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="{{ tasker['state'] }}" name="state" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Zip</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="{{ tasker['zip'] }}" name="zip" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Age</label>
          <div class="col-md-8">
            <input class="form-control" type="number" value="{{ tasker['tasker_age'] }}" name="age" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Primary Skill</label>
          <div class="col-md-8">
            <select class="form-control service" name="service_category" id="service_category" disabled>
                <!-- <option value="0">Select a Service Category</option> -->
                <option value="1" {% if tasker.primary_skill=='1' %} selected="selected" {% endif %}>Home Services</option>
                <option value="2" {% if tasker.primary_skill=='2' %} selected="selected" {% endif %}>Pet Care</option>
                <option value="3" {% if tasker.primary_skill=='3' %} selected="selected" {% endif %}>Tech Repair</option>
                <option value="4" {% if tasker.primary_skill=='4' %} selected="selected" {% endif %}>Personal Care</option>
                <option value="5" {% if tasker.primary_skill=='5' %} selected="selected" {% endif %}>Event Planning</option>
                <option value="6" {% if tasker.primary_skill not in ['1','2','3','4','5'] %} selected="selected" {% else %} hidden{% endif %}>None</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">About Me</label>
          <div class="col-md-8">
            <textarea class="form-control" rows="4" name="about_me" id="about_me" readonly>{{ tasker['about_me'] }}</textarea>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="submit" class="btn btn-primary" value="Edit Profile">
          </div>
        </div>
      </form>
    </div>
    {% endif %}
</div>
<br>
<hr>
<script>
  console.log("{{tasker.primary_skill=='4' }}")
</script>
{% endblock %}